.Leftsidebar {
  width: 25%;
  box-shadow: 0 0 5px #ccc;
}
.right-side-bar-options {
  width: 25%;
  position: absolute;
  padding-top: 30px;
  border-bottom: 2px solid #ccc;
}
.right-side-bar-options li {
  list-style: none;
  padding: 5px 20px;
}
.right-side-bar-options li span {
  left: 20px;
  position: relative;
  top: -7px;
}
.btn {
  background-color: rgb(243, 245, 245);
  padding: 10px;
  margin: 20px;
  width: 40%;
  border-radius: 100px;
  border: none;
}
.friends {
  position: relative;
  top: 443px;
  padding: 0 20px;
}
.modalHeader-top {
  display: flex;
}
.modalHeader-top h5 {
  position: relative;
  left: 20px;
}
