/* .App {
  text-align: center;
  background-color: rgb(178, 205, 228);
  padding: 100px;
}
.conatiner {
  background-color: blue;
  padding: 100px;
}
.fields {
  display: flex;
  justify-content: center;
}
.fields input {
  margin: 10px;
  padding: 15px;
  width: 30%;
  border: none;
  border-radius: 30px;
}
.information {
  display: flex;
  justify-content: center;
}
.information input {
  margin: 10px;
  padding: 15px;
  width: 30%;
  border: none;
  border-radius: 30px;
}
.text textarea {
  width: 692px;
  border-radius: 10px;
}
.submit {
  padding: 15px;
  font-size: 30px;
  background-color: rgb(248, 154, 13);
  color: #000;
  border-radius: 100px;
  margin: 30px;
  width: 213px;
  font-family: "Times New Roman", Times, serif;
  border: none;
}

form {
  background-color: rgb(241, 44, 225);
}
.login-form {
  display: flex;
  justify-content: center;
}
.login-form input {
  display: block;
  margin: 10px;
  padding: 15px;
  width: 30%;
  border: none;
  border-radius: 30px;
}
.login {
  padding: 9px;
  font-size: 33px;
  background-color: rgb(248, 154, 13);
  color: #000;
  border-radius: 100px;
  margin: 30px;
  width: 171px;
  font-family: "Times New Roman";
  border: none;
} */
.signup-form {
  padding: 100px 400px;
}
