.rightsidebar {
  width: 25%;
  padding: 0px 20px;
  box-shadow: 0 0 5px #ccc;
}
.BirthdayPerson {
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(61, 60, 60);
}
.birthday-notifiction {
  display: flex;
  align-items: center;
}
.birthday-notifiction h4 {
  color: gray;
  padding: 20px;
}
.birthday-notifiction span {
  color: black;
  font-weight: bold;
}
.birthday-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.widget {
  margin-top: 30px;
  margin-right: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 0.33;
}
.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.widget-bodyoptions {
  display: flex;
  align-items: center;
}
.widget-bodyoptions h4 {
  margin-left: 10px;
  font-size: 14px;
}
.ml10 {
  margin-left: 10px;
}
.ml10 p {
  font-size: 12px;
  color: gray;
}
.ml10 svg {
  font-size: 16px;
  color: gray;
  margin-right: 10px;
}
.widget-headerright svg {
  margin: 0px 10pxs;
}
